<% content_for :top_nav do %>
  <div class="flex items-center justify-between h-full dashboard-container">
    <div class="flex-grow">
      <div class="flex items-stretch">
        <%= render "shared/form_autosave_status" %>
      </div>
    </div>
    <div class="space-x-4 shrink-0">
      <button type="submit"
        class="btn btn-secondary"
        form="post-<%= @post.id %>"
        name="commit"
        value="save"
        >
        Save and close
      </button>

      <%# TODO - little dropdown for visibility and date and stuff %>
      <button type="submit"
        class="btn btn-primary"
        form="post-<%= @post.id %>"
        name="commit"
        value="review"
        >
        Review
        <%= render :partial => "shared/button_loading_arrow" %>
      </button>
    </div>
  </div>
<% end %>

<%= render "posts/form", post: @post %>