<% content_for :heading do %>Reset your password<% end %>
<% content_for :subheading do %>
  Or,
  <a href="<%= new_session_path(resource_name)  %>" class="font-medium text-accent hover:underline">sign in</a> if you know your password.
<% end %>

<% title 'Reset your password' %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="form-space">

    <%= render 'shared/form_error_messages', object: f.object %>

    <div class="field">
      <%= f.label :email, class: 'form-label' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-input' %>
    </div>

    <div class="actions">
      <%= invisible_recaptcha_tags text: 'Send password reset instructions →', class: "btn btn-primary w-full" %>
    </div>
  </div>
<% end %>
