<!-- ALERT TEMPLATE -->

<div id="share-flash-tmpl" class="hidden">
  <%# Event name must match one below in copy controller %>
  <%= render "layouts/flash", message: 'Link copied' %>
</div>

<div class="pb-2 space-y-8">
  <div class="flex justify-around my-4">

    <!--LINKEDIN ICON-->
    <a
      href="https://www.linkedin.com/sharing/share-offsite/?url=<%= url %>"
      target="_blank"
      rel="noopener noreferrer"
      class="border hover:bg-[#0077b5] w-12 h-12 fill-[#0077b5] hover:fill-white border-gray-075 rounded-full flex items-center justify-center"
    >
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 310 310" style="enable-background:new 0 0 310 310;" xml:space="preserve"
        width="24"
        height="24"
        >
        <g id="XMLID_801_">
          <path id="XMLID_802_" d="M72.16,99.73H9.927c-2.762,0-5,2.239-5,5v199.928c0,2.762,2.238,5,5,5H72.16c2.762,0,5-2.238,5-5V104.73
            C77.16,101.969,74.922,99.73,72.16,99.73z"/>
          <path id="XMLID_803_" d="M41.066,0.341C18.422,0.341,0,18.743,0,41.362C0,63.991,18.422,82.4,41.066,82.4
            c22.626,0,41.033-18.41,41.033-41.038C82.1,18.743,63.692,0.341,41.066,0.341z"/>
          <path id="XMLID_804_" d="M230.454,94.761c-24.995,0-43.472,10.745-54.679,22.954V104.73c0-2.761-2.238-5-5-5h-59.599
            c-2.762,0-5,2.239-5,5v199.928c0,2.762,2.238,5,5,5h62.097c2.762,0,5-2.238,5-5v-98.918c0-33.333,9.054-46.319,32.29-46.319
            c25.306,0,27.317,20.818,27.317,48.034v97.204c0,2.762,2.238,5,5,5H305c2.762,0,5-2.238,5-5V194.995
            C310,145.43,300.549,94.761,230.454,94.761z"/>
        </g>
      </svg>
    </a>

    <!--TWITTER ICON-->
    <a
      href="https://twitter.com/intent/tweet?url=<%= url %><% if defined?(subject) && subject %>&text=<%= subject %><% end %>"
      target="_blank"
      rel="noopener noreferrer"
      class="border hover:bg-[#1d9bf0] w-12 h-12 fill-[#1d9bf0] hover:fill-white border-gray-075 rounded-full flex items-center justify-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M19.633 7.997c.013.175.013.349.013.523 0 5.325-4.053 11.461-11.46 11.461-2.282 0-4.402-.661-6.186-1.809.324.037.636.05.973.05a8.07 8.07 0 0 0 5.001-1.721 4.036 4.036 0 0 1-3.767-2.793c.249.037.499.062.761.062.361 0 .724-.05 1.061-.137a4.027 4.027 0 0 1-3.23-3.953v-.05c.537.299 1.16.486 1.82.511a4.022 4.022 0 0 1-1.796-3.354c0-.748.199-1.434.548-2.032a11.457 11.457 0 0 0 8.306 4.215c-.062-.3-.1-.611-.1-.923a4.026 4.026 0 0 1 4.028-4.028c1.16 0 2.207.486 2.943 1.272a7.957 7.957 0 0 0 2.556-.973 4.02 4.02 0 0 1-1.771 2.22 8.073 8.073 0 0 0 2.319-.624 8.645 8.645 0 0 1-2.019 2.083z"
        ></path>
      </svg>
    </a>

    <!--FACEBOOK ICON-->
    <a
      href="http://www.facebook.com/sharer.php?u=<%= url %>"
      target="_blank"
      rel="noopener noreferrer"
      class="border hover:bg-[#1877f2] w-12 h-12 fill-[#1877f2] hover:fill-white border-gray-075 rounded-full flex items-center justify-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M13.397 20.997v-8.196h2.765l.411-3.209h-3.176V7.548c0-.926.258-1.56 1.587-1.56h1.684V3.127A22.336 22.336 0 0 0 14.201 3c-2.444 0-4.122 1.492-4.122 4.231v2.355H7.332v3.209h2.753v8.202h3.312z"
        ></path>
      </svg>
    </a>

    <!--EMAIL ICON-->
    <a
      href="mailto:?<% if defined?(subject) && subject %>subject=<%= subject %>&<% end %>body=<%= url %>"
      class="border hover:bg-[#1e43fc] w-12 h-12 text-[#1e43fc] hover:text-white border-gray-075 rounded-full flex items-center justify-center"
    >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" height="24" width="24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
      </svg>
    </a>
  </div>

  <button
    class="flex items-center w-full py-4 mt-4 border rounded-md cursor-pointer bg-gray-025 border-gray-075"
    data-clipboard-text="<%= url %>"
    data-controller="copy"
    data-copy-template-id-value="share-flash-tmpl"
    >
    <div class="px-4 text-xs text-left text-gray-800 break-all truncate border-0 grow bg-gray-025">
      <%= url %>
    </div>

    <div class="flex flex-row items-center px-4 space-x-1 text-sm font-medium no-underline text-tertiary">
      <%= heroicon "clipboard", class: "inline h-4 w-4" %>
      <span>Copy</span>
    </div>
  </button>
</div>

