<% title 'Connect domain' %>

<% content_for :heading do %>
  Connect your domain
<% end %>
<% content_for :subheading do %>
  Have any questions or issues? <% if Rails.configuration.solo_mode %><a href="https://github.com/contraptionco/postcard/issues/new" class="link" target="_blank">Report an issue!</a><% else %><a href="mailto:postcard@contraption.co" class="link">Email us!</a><% end %>
<% end %>

<%= form_with(
  url: request.path,
  method: :put,
  local: true) do |f|
  %>
  <div class="form-space">
    <div>
      <%= f.label :domain, 'Domain', class: 'form-label' %>
      <div class="mt-1">
        <%= f.text_field :domain, class: 'form-input', autofocus: true, autocomplete: "off", placeholder: 'example.com'  %>
      </div>
    </div>

    <%= render :partial => "shared/primary_button_loading", locals: { label: 'Next', classes: "w-full", arrow: true } %>
  </div>
<% end %>


<p class="text-gray-700 text-center text-sm">
  <div class="text-center">
    <%= link_to "Buy a domain", wizard_path(:domain_purchase), class: 'link' %>
     or
    <%= link_to "do this later", wizard_path(:domain_hosted), class: 'link' %>
  </div>
</p>